body {
    background-color: #3d3d3d;
}

/*导航*/

.admin-header {
    position: relative;
    background-color: #fff;
    width: 100%;
}

.admin-header .container-fluid {
    padding-right: 0 !important;
}

.admin-header-logo {
    height: 80px;
    font: normal 40px/80px "微软雅黑";
    text-align: center;
    color: #000;
    padding: 0 !important;
}

.admin-header-logo:hover {
    text-decoration: none;
    cursor: pointer;
}

.admin-header-function {
    min-height: 80px;
    padding: 10px 15px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.admin-header-function-common {
    display: inline-block;
    width: 100%;
}

.admin-header-function-title {
    width: 100%;
}

.admin-header-user, .admin-user-comment-item-all-comments-item-function-love {
    color: #ff963d;
}

.admin-header-a a {
    margin-left: 30px;
    color: #ff963d;
}

.admin-header-a a:hover {
    text-decoration: none;
}

/*主体样式*/

.admin-body {
    height: auto !important;
    position: relative;
    padding: 0;
}

/*导航*/
.admin-navigation {
    padding-top: 40px;
    padding-right: 0 !important;
}

.admin-navigation-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.admin-navigation-li {
    margin-bottom: 40px;
    text-align: center;
}

.active .admin-navigation-title {
    color: #ff963d;
}

.admin-navigation-title {
    font: normal 20px "微软雅黑";
    color: #fff;
}

.admin-navigation-title:hover, .admin-navigation-title:visited, .admin-navigation-title:active, .admin-navigation-title:focus,
.admin-navigation-a-btn:hover, .admin-navigation-a-btn:visited, .admin-navigation-a-btn:active, .admin-navigation-a-btn:focus {
    text-decoration: none;
    outline: none;
}

.admin-navigation-title:hover, .admin-navigation-a-btn:hover, .admin-navigation-a-btn:visited {
    color: #ff963d;
}

.admin-navigation-ul-ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.admin-navigation-function {
    border: 1px solid transparent;
}

.admin-navigation-function:hover {
    background-color: #fff;
    border: 1px solid #ff963d;
    cursor: pointer;
}

.admin-navigation-ul-ul .active {
    background-color: #fff;
    border: 1px solid #ff963d;
}

.admin-navigation-a-btn {
    display: inline-block;
    color: #ff963d;
    font: normal 16px "微软雅黑";
    padding: 5px;
    padding-left: 40%;
    text-align: left;
    width: 100%;
}

/*内容*/
.admin-content {
    min-height: 800px;
    background-color: #fff;
}

/*底部*/
.footer {
    color: #999;
    font: normal 12px "微软雅黑";
    padding-top: 20px;
}

/*店家信息*/
/*头部样式*/
.admin-header-function-title-p {
    display: inline-block;
    margin-right: 30px;
    font: normal 16px "微软雅黑";
}

.admin-header-function-title-span {
    color: #ff963d;
    font: normal 16px "微软雅黑";
}

/*表单样式*/
.admin-shopInfo-form, .admin-shopInfo-avatar-part, .admin-shopInfo-shopImg {
    padding: 20px 15px 20px 30px;
}

.admin-shopInfo-type {
    display: inline-block;
    color: #000;
    font: normal 16px "微软雅黑";
}

.admin-shopInfo-type > span {
    padding-right: 8px;
    border-right: 2px solid #ff963d;
    margin-right: 10px;
}

.admin-shopInfo-input-type {
    width: 420px;
    border: 2px solid #ff963d;
    box-shadow: 4px 4px 2px #eee;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.admin-shopInfo-form-icon {
    width: 20px;
}

label {
    margin: 0 !important;
}

.admin-shopInfo-input {
    border: 0;
    border: none;
    width: 260px;
    font-size: 14px;
}

.admin-shopInfo-input:focus {
    outline: none;
}

/*上传样式*/

#avatarPicker, #shopImgPicker, #commodityPicker, #userDynamicPicker {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
}

.admin-shopInfo-avatar-pre {
    width: 300px;
    height: 300px;
    background-color: #eee;
    border-radius: 3px;
}

.admin-shopInfo-avatar-part-container {
    position: relative;
    display: inline-block;
}

.admin-shopInfo-avatar-title {
    width: 300px;
    text-align: center;
}

#avatarPicker, #shopImgPicker {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
}

.admin-shopInfo-avatar-upload {
    width: 86px;
    height: 40px;
    background-color: #ff963d;
    padding: 10px 15px;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
}

.admin-shopInfo-avatar-upload:hover {
    background: #e58300;
    cursor: pointer;
}

.admin-shopInfo-shopImg-pre {
    min-height: 120px;
    padding: 20px;
    background-color: #eee;
    border-radius: 3px;
    padding-bottom: 0;
}

.shop-img-item {
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
    margin-right: 20px;
    padding: 4px;
}

.shop-img-item-info {
    position: absolute;
    left: 4px;
    bottom: 4px;
    right: 4px;
    height: 20px;
    line-height: 20px;
    text-indent: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    z-index: 10;
}

.error {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background: red;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 23px;
}

/*发布新商品*/
.admin-commodity-header-title {
    font-size: 20px;
    font-weight: bold;
    text-indent: 2em;
}

.admin-commodity-form {
    max-width: 800px;
    padding-top: 20px;
}

.admin-commodity-input, .admin-commodity-textarea, .admin-user-add-container textarea {
    border-color: #ff963d;
}

.input-group-addon {
    background-color: #ff963d;
    border-color: #ff963d;
    color: #fff;
}

.admin-commodity-sub {
    text-align: center;
    margin-top: 20px;
}

.admin-commodity-btn, .admin-btn {
    background-color: #ff963d;
    border-color: #ff963d;
    color: #fff;
}

.admin-commodity-btn {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.admin-commodity-btn:hover, .admin-btn:hover {
    background: #e58300;
    color: #fff;
}

.admin-commodity-form .checkbox-inline {
    /*color: #ff963d!important;*/
}

/*商品查询*/
.search-select {
    /*width: 200px;*/
}

.search-select {
    background-color: #ff963d;
    color: #fff;
    border-color: #ff963d;
    min-width: 90px;
}

.selectize-input {
    padding: 0 !important;
    border: 0 !important;
    text-indent: .5em;
    text-align: left;
}

.selectize-control.single .selectize-input:after {
    right: 5px !important;
}

.admin-commodity-info-head {
    margin-top: 20px;
}

.admin-commodity-info-head-table {
    background-color: #ff963d;
    text-align: center;
    border: 1px solid #e8e8e8;
    color: #fff;
}

.checkbox-inline label {
    margin: 0;
}

.admin-commodity-info-head-table thead tr td {
    font-size: 18px;
}

.admin-commodity-info-function {
    background-color: #f1f1f1;
    padding: 10px 20px;
    position: relative;
}

.admin-commodity-info-btn {
    margin-left: 20px;
    background-color: #fff;
    color: #000;
}

.admin-commodity-info-btn:hover {
    border-color: #ff963d;
    color: #ff963d;
}

.admin-commodity-info-body, .admin-user-comment-body {
    margin-top: 20px;
}

.admin-commodity-info-item {
    border: 1px solid #ececec;
    margin-bottom: 10px;
}

.admin-commodity-info-item:hover {
    border-color: #999;
}

.admin-commodity-info-item-id {
    background-color: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
    color: #3c3c3c;
    position: relative;
}

.admin-commodity-info-item-order_used {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #ff963d;
}

.admin-commodity-info-item table tbody tr td {
    vertical-align: middle !important;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-top: 0;
}

.admin-commodity-info-item table {
    margin-bottom: 0;
}

.admin-commodity-info-item table tbody tr td:first-child, .admin-commodity-info-item table tbody tr td:last-child {
    border: 0;
}

.admin-commodity-info-item-img {
    width: 60px;
    height: 60px;
    background: center center no-repeat;
    margin-right: 10px;
    padding: 0;
}

.admin-commodity-info-name {
    padding-left: 20px !important;
}

.admin-commodity-info-price, .admin-commodity-info-price-r {
    color: #ff963d;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.admin-commodity-info-price-r {
    margin-right: 0;
    display: block;
}

.admin-commodity-info-people {

}

.admin-commodity-info-exPrice {
    color: #999;
    text-decoration: line-through;
}

.admin-commodity-info-item-title-link, .admin-commodity-info-function-link {
    color: #333;
}

.admin-commodity-info-item-title-link {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.admin-commodity-info-item-title-link:hover, .admin-commodity-info-function-link:hover {
    color: #ff963d;
    text-decoration: none;
}

.admin-commodity-info-function-link {
    margin-right: 10px;
    margin-left: 10px;
}

.admin-commodity-info-item-caption {
    margin-right: 20px;
    color: #000;
}

.admin-commodity-info-card {
    margin: 0;
    width: 100%;
}

.admin-commodity-info-page-container {
    position: relative;
    height: 150px;
}

.admin-commodity-info-page {
    position: absolute;
    right: 15px;
    bottom: 0;
}

.admin-commodity-info-page li a {
    color: #ff963d;
}

.admin-commodity-info-page li a:hover, .admin-commodity-info-page li a:active, .admin-commodity-info-page li a:focus {
    color: #ec8b38;
}

.admin-commodity-info-page li span {
    color: #333;
}

.admin-commodity-info-page li span:hover {
    color: #333;
}

.admin-commodity-info-page .active a {
    background-color: #ff963d;
    border-color: #ff963d;
}

.admin-commodity-info-page .active a:hover, .admin-commodity-info-page .active a:focus, .admin-commodity-info-page .active a:active {
    background-color: #ec8b38;
    border-color: #ec8b38;
}

/*商家动态*/
.admin-user-add-container {
    max-width: 1000px;
    padding-top: 20px;
}

/*销毁团购券*/
.admin-order-container {
    max-width: 800px;
    padding-top: 50px;
}

/*排序*/

.admin-commodity-info-function-order-way {
    text-align: right;
}

.admin-commodity-info-order-inline {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 7px;
}

.admin-commodity-info-order {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}

.admin-commodity-info-order .selectize-input {
    height: 30px;
    line-height: 30px;
}

/*面包屑导航*/
.admin-breadcrumb {
    margin: 0 !important;
    background-color: #fff !important;
}

/*查看动态评论*/
@media (min-width: 992px) {
    .admin-user-comment-body {
        padding-left: 150px;
        padding-right: 150px;
    }
}

.admin-user-comment-item {
    border: 1px solid #ececec;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 30px;
}

.admin-user-comment-item-function {
    margin-top: 40px;
    font-size: 16px;
    margin-bottom: 20px;
}

.admin-user-comment-item-head-content {
    font-size: 18px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.admin-user-comment-item-article-small .img-hide {
    display: none;
    text-align: center;
}

/*文章全展示*/
.admin-user-comment-item-article-big .admin-user-comment-item-head-img {
    width: 100%!important;
}

.admin-user-comment-item-article-big .admin-user-comment-item-head-content {
    display: block!important;
    width: 100%!important;
}

.admin-user-comment-item-article-big .img-hide {
    width: 100%;
    display: block;!important;
}
.admin-user-comment-item-article-big .img-title-hide {
    display: none!important;
}

.admin-user-comment-item-article-big .img-hide-item {
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.admin-user-comment-item-head {
    position: relative;
}

.admin-user-comment-item-article-all {
    position: absolute;
    right: 0;
    bottom: -20px;
}

.admin-user-comment-item-love {
    color: #ff6a69;
    margin-right: 20px;
}

.admin-user-comment-item-comment-num, .admin-user-comment-item-article-all {
    color: #8590a6;
    cursor: pointer;
}

.admin-user-comment-item-all-comments {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    border: 1px solid #ececec;
    display: none;
}

.admin-user-comment-item-all-comments-body {
    padding-left: 20px;
    padding-right: 20px;
}

.admin-user-comment-item-all-comments-head {
    padding: 20px;
    border-bottom: 1px solid #ececec;
}

.admin-user-comment-item-all-comments-item {
    border-bottom: 1px solid #ececec;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 140px;
}

.admin-user-comment-item-all-comments-item:last-child {
    border: 0;
}

.admin-user-comment-item-all-comments-item-user {
    color: #8590a6;
}

.admin-user-comment-item-all-comments-item-user-img {
    width: 30px;
    height: 30px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}

.admin-user-comment-item-all-comments-item-user-name {
    color: #333 !important;
}

.admin-user-comment-item-all-comments-item-content {
    margin: 10px 0;
}

.admin-user-comment-item-all-comments-item-replay {
    display: none;
    color: #8590a6;
    cursor: pointer;
}

.cancel-btn {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: #8590a6;
}

.cancel-btn:hover {
    outline: none;
    color: #333;
}

.admin-user-comment-item-all-comments-item-function {
    margin-top: 18px;
}

.admin-user-comment-item-all-comments-item:hover .admin-user-comment-item-all-comments-item-replay {
    display: block;
}

/*商家回复*/

.admin-user-comment-item-your-replay {
    padding-left: 20px;
}

.span-del {
    font-size: 30px;
    color: red;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    z-index: 1;
}

/*图片管理-门店图片*/
.admin-img-shopImg-been {
    margin-bottom: 30px;
}

.admin-img-shopImg-title {
    color: #ff963d;
    font-weight: bold;
    text-align: center;
}

.admin-img-shopImg-list {
    width: 100%;
    position: relative;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
}

.admin-img-shopImg-item {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
}

.admin-img-shopImg-item-cancel {
    color: red;
    font-size: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
}

.admin-commodity-category-delete {
    color: #fff;
}

.admin-commodity-category-delete:hover,.admin-commodity-category-delete:visited,.admin-commodity-category-delete:focus {
    text-decoration: none;
    color: #fff;
}

/*预约信息*/
.admin-order-info-select {
    bottom: 14px;
}