/*头部样式*/
.admin-header-function-title-p {
    display: inline-block;
    margin-right: 30px;
    font: normal 16px "微软雅黑";
}

.admin-header-function-title-span {
    color: #ff963d;
    font: normal 16px "微软雅黑";
}

/*表单样式*/
.admin-shopInfo-form {
    padding: 20px 15px 20px 30px;
}

.admin-shopInfo-type {
    display: inline-block;
    color: #000;
    font: normal 16px "微软雅黑";
}

.admin-shopInfo-type > span {
    padding-right: 8px;
    border-right: 2px solid #ff963d;
    margin-right: 10px;
}

.admin-shopInfo-input-type {
    width: 420px;
    border: 2px solid #ff963d;
    box-shadow: 4px 4px 2px #eee;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.admin-shopInfo-form-icon {
    width: 20px;
}

label {
    margin: 0 !important;
}

.admin-shopInfo-input {
    border: 0;
    border: none;
    width: 260px;
    font-size: 14px;
}

.admin-shopInfo-input:focus {
    outline: none;
}

/*头像上传*/
.admin-shopInfo-avatar-pre {
    width: 300px;
    height: 300px;
    background-color: #eee;
}

.admin-shopInfo-avatar-part-container {
    position: relative;
    display: inline-block;
}

.admin-shopInfo-avatar-title {
    width: 300px;
    text-align: center;
}

#avatarPicker {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
}

.admin-shopInfo-avatar-upload {
    width: 86px;
    height: 40px;
    background-color: #ff963d;
    padding: 10px 15px;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
}

.admin-shopInfo-avatar-upload:hover {
    background: #e58300;
    cursor: pointer;
}