body {
    background-color: #3d3d3d;
}

/*导航*/

.admin-header {
    position: relative;
    background-color: #fff;
    width: 100%;
}

.admin-header .container-fluid {
    padding-right: 0 !important;
}

.admin-header-logo {
    height: 80px;
    font: normal 40px/80px "微软雅黑";
    text-align: center;
    color: #000;
    padding: 0 !important;
}

.admin-header-logo:hover {
    text-decoration: none;
    cursor: pointer;
}

.admin-header-function {
    min-height: 80px;
    padding: 10px 15px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.admin-header-function-common {
    display: inline-block;
    width: 100%;
}

.admin-header-function-title {
    width: 100%;
}

.admin-header-user {
    color: #ff963d;
}

.admin-header-a a {
    margin-left: 30px;
    color: #ff963d;
}

.admin-header-a a:hover {
    text-decoration: none;
}

/*主体样式*/

.admin-body {
    height: auto !important;
    position: relative;
    padding: 0;
}

/*导航*/
.admin-navigation {
    padding-top: 40px;
    padding-right: 0 !important;
}

.admin-navigation-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.admin-navigation-li {
    margin-bottom: 40px;
    text-align: center;
}

.active .admin-navigation-title {
    color: #ff963d;
}

.admin-navigation-title {
    font: normal 20px "微软雅黑";
    color: #fff;
}

.admin-navigation-title:hover, .admin-navigation-title:visited, .admin-navigation-title:active, .admin-navigation-title:focus,
.admin-navigation-a-btn:hover, .admin-navigation-a-btn:visited, .admin-navigation-a-btn:active, .admin-navigation-a-btn:focus {
    text-decoration: none;
    outline: none;
}

.admin-navigation-title:hover, .admin-navigation-a-btn:hover, .admin-navigation-a-btn:visited {
    color: #ff963d;
}

.admin-navigation-ul-ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.admin-navigation-function {
    border: 1px solid transparent;
}

.admin-navigation-function:hover {
    background-color: #fff;
    border: 1px solid #ff963d;
    cursor: pointer;
}

.admin-navigation-ul-ul .active {
    background-color: #fff;
    border: 1px solid #ff963d;
}

.admin-navigation-a-btn {
    display: inline-block;
    color: #ff963d;
    font: normal 16px "微软雅黑";
    padding: 5px;
    padding-left: 80px;
    text-align: center;
    width: 100%;
}

/*内容*/
.admin-content {
    /*margin-left: 195px;*/
    /*margin-right: 0;*/
    min-height: 850px;
    background-color: #fff;
}

/*底部*/
.footer {
    color: #999;
    font: normal 12px "微软雅黑";
    padding-top: 20px;
}

/*上传样式*/

#avatarPicker, #shopImgPicker, #commodityPicker {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
}

.admin-shopInfo-avatar-pre {
    width: 300px;
    height: 300px;
    background-color: #eee;
    border-radius: 3px;
}

.admin-shopInfo-avatar-part-container {
    position: relative;
    display: inline-block;
}

.admin-shopInfo-avatar-title {
    width: 300px;
    text-align: center;
}

#avatarPicker, #shopImgPicker {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
}

.admin-shopInfo-avatar-upload {
    width: 86px;
    height: 40px;
    background-color: #ff963d;
    padding: 10px 15px;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
}

.admin-shopInfo-avatar-upload:hover {
    background: #e58300;
    cursor: pointer;
}

.admin-shopInfo-shopImg-pre {
    /*height: 200px;*/
    min-height: 120px;
    padding: 20px;
    background-color: #eee;
    border-radius: 3px;
    padding-bottom: 0;
}

.shop-img-item {
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
    margin-right: 20px;
    padding: 4px;
}

.shop-img-item-info {
    position: absolute;
    left: 4px;
    bottom: 4px;
    right: 4px;
    height: 20px;
    line-height: 20px;
    text-indent: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    z-index: 10;
}

.error {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background: red;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 23px;
}

/*发布新商品*/
.admin-commodity-header-title {
    font-size: 20px;
    font-weight: bold;
    text-indent: 2em;
}

.admin-commodity-form {
    max-width: 800px;
    padding-top: 20px;
}

.admin-commodity-input, .admin-commodity-textarea {
    border-color: #ff963d;
}

.input-group-addon {
    background-color: #ff963d;
    border-color: #ff963d;
    color: #fff;
}

.admin-commodity-sub {
    text-align: center;
    margin-top: 20px;
}

.admin-commodity-btn {
    background-color: #ff963d;
    border-color: #ff963d;
    color: #fff;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.admin-commodity-btn:hover {
    background: #e58300;
    color: #fff;
}