/*头部样式*/
.admin-header-function-title-p {
    display: inline-block;
    margin-right: 30px;
    font: normal 16px "微软雅黑";
}

.admin-header-function-title-span {
    color: #ff963d;
    font: normal 16px "微软雅黑";
}

/*表单样式*/
.admin-shopInfo-form, .admin-shopInfo-avatar-part, .admin-shopInfo-shopImg {
    padding: 20px 15px 20px 30px;
}

.admin-shopInfo-type {
    display: inline-block;
    color: #000;
    font: normal 16px "微软雅黑";
}

.admin-shopInfo-type > span {
    padding-right: 8px;
    border-right: 2px solid #ff963d;
    margin-right: 10px;
}

.admin-shopInfo-input-type {
    width: 420px;
    border: 2px solid #ff963d;
    box-shadow: 4px 4px 2px #eee;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.admin-shopInfo-form-icon {
    width: 20px;
}

label {
    margin: 0 !important;
}

.admin-shopInfo-input {
    border: 0;
    border: none;
    width: 260px;
    font-size: 14px;
}

.admin-shopInfo-input:focus {
    outline: none;
}

